@page
@model AbbyRestaurantWeb.Pages.Customer.Home.IndexModel

<div class="row container pb-3 backgroundWhite">
    @foreach (var category in Model.CategoryList)
    {
        <h2 class="text-primary"><b>@category.Name</b></h2>
        <div class="col-12">
            <div class="row my-3">
                @foreach (var menuItem in Model.MenuItemList.Where(u => u.CategoryId == category.Id))
                {
                    <a asp-page="Details" asp-route-id="@menuItem.Id" class="col-lg-4 col-md-6 pb-4 filter text-decoration-none">
                        <div class="card rounded shadow-sm" >
                            <div class="card-body pb-1 row">
                                <div class="col-8 h5">
                                    @menuItem.Name
                                </div>
                                <div class="col-4 text-end">
                                    <span class="text-primary h4">
                                        $@menuItem.Price
                                    </span>
                                </div>
                            </div>
                            <img class="card-img-top img-fluid d-block mx-auto" style="height:280px" src="@menuItem.Image" alt="menuitem" />
                            <div class="card-body px-3 pb-2 row">
                                <div class="col-6">
                                    <span class="badge p-2 border w-100 bg-success">@menuItem.Category.Name</span>
                                </div>
                                <div class="col-6 border-0">
                                    <span class="badge p-2 border w-100 bg-secondary">@menuItem.FoodType.Name</span>
                                </div>
         
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    }
</div>
